@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.form-container {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 300px;
}
